@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light */
  --background: #ffffff;
  --foreground: #171717;
  /* dark */
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-10;
  }
  .button{
    @apply flex justify-center items-center;
    @apply gap-2 rounded-lg px-9 h-8;
    @apply text-sm font-semibold;
    @apply hover:border-2 border-emerald-500
  }
}